/* eslint-disable-next-line no-unused-vars */
const config = (() => {
  return {
    VUE_APP_API_BASE_URL: '${VUE_APP_API_BASE_URL}',
    ROOT_API: '${ROOT_API}',
    KEYCLOAK_ISSUER: '${KEYCLOAK_ISSUER}',
    KEYCLOAK_AUTHORIZATION_ENDPOINT: '${KEYCLOAK_AUTHORIZATION_ENDPOINT}',
    KEYCLOAK_USERINFO_ENDPOINT: '${KEYCLOAK_USERINFO_ENDPOINT}',
    KEYCLOAK_END_SESSION_ENDPOINT: '${KEYCLOAK_END_SESSION_ENDPOINT}',
    KEYCLOAK_JWKS_URI: '${KEYCLOAK_JWKS_URI}',
    KEYCLOAK_TOKEN_ENDPOINT: '${KEYCLOAK_TOKEN_ENDPOINT}',
    KEYCLOAK_CHECK_SESSION_IFRAME: '${KEYCLOAK_CHECK_SESSION_IFRAME}',
    KEYCLOAK_CLIENT_ID: '${KEYCLOAK_CLIENT_ID}',
    HELPHERO: '${HELPHERO}',
    STRIPE_API: '${STRIPE_API}',
    HOTJAR_PROJECT_KEY: '${HOTJAR_PROJECT_KEY}',
    SENTRY_DSN_ENDPOINT: '${SENTRY_DSN_ENDPOINT}',
    get(name) {
      return this[name] || '';
    },
  };
})();
