version: '3.6'

services:
  bothub-webapp:
    image: ${BOTHUB_WEBAPP_DOCKER_IMAGE_NAME:-weni/weni-webapp}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VUE_APP_ROOT_API=${VUE_APP_ROOT_API:-http://api-connect.push.al}
        - KEYCLOAK_ISSUER=${KEYCLOAK_ISSUER}
        - KEYCLOAK_AUTHORIZATION_ENDPOINT=${KEYCLOAK_AUTHORIZATION_ENDPOINT}
        - KEYCLOAK_USERINFO_ENDPOINT=${KEYCLOAK_USERINFO_ENDPOINT}
        - KEYCLOAK_END_SESSION_ENDPOINT=${KEYCLOAK_END_SESSION_ENDPOINT}
        - KEYCLOAK_JWKS_URI=${KEYCLOAK_JWKS_URI}
        - KEYCLOAK_TOKEN_ENDPOINT=${KEYCLOAK_TOKEN_ENDPOINT}
        - KEYCLOAK_CHECK_SESSION_IFRAME=${KEYCLOAK_CHECK_SESSION_IFRAME}
        - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
        - VUE_APP_HOTJAR_PROJECT_KEY=${VUE_APP_HOTJAR_PROJECT_KEY}
        - VUE_APP_SENTRY_DSN_ENDPOINT=${VUE_APP_SENTRY_DSN_ENDPOINT}
    ports:
      - 80:80
