:root {
    --sapShellColor: purple;
    --luigi__left-sidenav--width: 10rem;
}

#app {
    display: flex;
    height: 100vh;
}

body {
    margin: 0;
}

#app {
    width: 100%;
    flex: 1;
}

.iframeContainer {
    flex: 1;
    overflow: hidden;
    border: none;
    background-color: #F4F6F8
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
}

.fd-shellbar {
    display: none;
}